<nav>
  <a [routerLink]="['/']">
    <img src="https://i.ibb.co/d46rJtk/Novo-Projeto.png" alt="Gusta's Logo">
  </a>
  <div class="nav-links">
    <ng-container *ngIf="variant === 'home'">
      <a [routerLink]="['/menu']">Cardápio</a>
      <a [routerLink]="['/dashboard']">Financeiro</a>
      <a [routerLink]="['/inventory']">Estoque</a>
      <button class="cart-btn" (click)="openCart()">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-count" *ngIf="cartCount$ | async as count">{{count}}</span>
      </button>
    </ng-container>
    <ng-container *ngIf="variant === 'about'">
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/menu']">Cardápio</a>
    </ng-container>
  </div>
</nav>

<app-cart></app-cart>